[Unit]
Description=Bibo Daemon
After=network.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
# NOTE: %h will be resolved to /home/<username>
WorkingDirectory=%h/bibo
ExecStart=/usr/bin/bibo trade
Restart=on-failure

[Install]
WantedBy=default.target

